* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER */
.header {
  background: #043454;
  padding: 15px 40px;
  z-index: 10;
  position: absolute;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

/* Logo */
.logo img {
  height: 40px;
  position: absolute;
  left: 0;
  top: 8px;
  
}

/* Menu */
.menu {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}
.menu li a:hover {
  color: #f2a41f;
}

/* Link ativo */
#ativo {
  color: #f2a41f;
  text-decoration: underline;
}
 
/* final header */

body{
  background-color:#f2f6f4;
}
#topo{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 250px;
  background-image: url('../assets/img/comida-japonesa.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

/* filtros cardapio */
.navcardapio{
  display: flex;
  color: #ffffff;
  margin-top: 14rem;
  width: 80%;
  min-width: 200px;
  height: 50px;
  background-color: #043454;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.navcardapio ul {
  display: flex;
  gap: 1rem;
  padding: 13px;
  list-style: none;
  justify-content: center;
}

.navcardapio button{
  background-color: transparent;
  text-align: center;
  width: 100px;
  border:none;
  color: #ffffff;

}

/* INICIO CARDAPIO */

main {
  padding-top: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.cardPratos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 270px;
  height: 310px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px #085283;
  border-radius: 5%; 
  overflow: hidden;     
}

.cardPratos img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 250px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  
}

.cardPratos h3 {
  color: #043454;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.cardPratos p {
  color: #f2a41f;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}

.cardPratos:hover {
  transform: scale(1.03);
  transition: 0.5s;

}

/* ANIMAÇÃO DO CARDAPIO */
.cardPratos {
  transition: all 0.5s ease;
  opacity: 1;
  transform: scale(1);
  position: relative; /* sombra padrão */
}

.exit {
  opacity: 0.7;
  transform: scale(0.9);         
  box-shadow: none;              
  
}

.hidden {
  display: none;
}

.enter {
  opacity: 0.7;
  transform: scale(0.9);
}
.show {
  opacity: 1;
  transform: scale(1);
  display: block;
  transition: all 0.2s ease;
}
