* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER */
.header {
  background:#043454;
  padding: 15px 40px;
  z-index: 10;
  position: absolute;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

/* Logo */
.logo img {
  height: 40px;
  position: absolute;
  left: 0;
  top: 8px;
  
}

/* Menu */
.menu {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}
.menu li a:hover {
  color: #f2a41f;
}
/* Link ativo */
#ativo {
  color: #f2a41f;
  text-decoration: underline;
}
 
/* final header */

.titulo-contato {
  text-align: center;
  font-size: 3rem;
  margin: 48px auto 0; /* 3rem = 48px */
  color: #033e5e;
  font-family: sans-serif;
  font-weight: 300;
}

.form-container h1 {
  font-weight: 200;
  margin-bottom: 20px;
  text-align: center;
  color: #043454;
  margin-top: 25px;
}

@media (max-width: 768px) {
  .form-container h1 {
    font-size: 2rem;
  }
}

.form-container {
  background-color: #f5fffb;
  width: 90%;
  max-width: 600px;
  margin: 48px auto;
  border-radius: 20px;
  border: 2px solid #043454;
  box-shadow:
    0 0 20px #043454,
    0 0 40px #043454,
    0 0 60px #043454;
  box-sizing: border-box;
  padding: 32px;
}

@media (max-width: 768px) {
  .form-container {
    width: 95%;
    padding: 3%;
  }
}

main {
  padding-top: 10vh;
  background-color: #f5fffb;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  display: block;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #043454;
  font-size: 1.2rem;
}

form input,
form textarea {
  width: 100%;
  padding: 1rem;
  margin-top: 16px;
  border: 2px solid #ccc;
  border-radius: 15px;
  margin-bottom: 24px;
  font-size: 1rem;
  box-sizing: border-box;
}

form textarea {
  min-height: 150px;
  resize: none;
}

button {
  background-color: #033e5e;
  color: #f2a41f;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 40px auto 0;
  max-width: 200px;
  display: block;
  text-align: center;
  border: none;
  border-radius: 10px;
}

@media (max-width: 768px) {
  button {
    width: 100px;
  }
}
