* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER */
.header {
  background-color: #052d45;
  padding: 15px 40px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

/* Logo */
.logo img {
  height: 40px;
  position: absolute;
  left: 0;
  top: 8px;
  
}

/* Menu */
.menu {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}


.menu li a:hover {
  color: #f2a41f;
  text-decoration: underline;
}

/* Link ativo */
#ativo {
  color: #f2a41f;
}
 
/* final header */

body {
  width: 100%;
  height: 100%;
}

.carrossel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}
.legenda {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 1rem 2rem;
  background-color: transparent;
  color:#f2a41f ; 
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 1s ease;
}

.legenda.ativo {
  opacity: 1;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.ativo {
  opacity: 1;
}
