@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
} 
/* HEADER */
.header {
  background: rgba(255, 255, 255, 0.12);
  padding: 15px 40px;
  z-index: 10;
  position: absolute;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

/* Logo */
.logo img {
  height: 40px;
  position: absolute;
  left: 0;
  top: 8px;
  
}

/* Menu */
.menu {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}
.menu li a:hover {
  color: #f2a41f;
}

/* Link ativo */
#ativo {
  color: #f2a41f;
  text-decoration: underline;
}
 
/* final header */

body {
  width: 100%;
  height: 100%;
}

.carrossel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}
.legenda {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 1rem 2rem;
  background-color: transparent;
  color:#f2a41f ; 
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 1s ease;
}

.legenda.ativo {
  opacity: 1;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.ativo {
  opacity: 1;
}
/* final carrossel */

body {
  background-color:#f5fffb;
}

main{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

/* titulo delivery e endereço */
.delivery{
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.titulo{
  font-size: 2rem;
  font-weight: bold;
  color: #f2a41f;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.delivery p{
  font-size: 1.2rem;
  color: #043454;
  margin-bottom: 20px;
}

.endereco{
  font-size:2rem;
  color: #f2a41f;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

/* imagens e infos Unidades  */

.unidades{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.infos{
  font-size: 1.2rem;
  text-align: left; 
}

.unidades h2{
  margin-bottom: 10px;
  margin-top: 5px;
}

.unidades img{
  width: 350px;
  height: auto;
}

.unidadesDireita{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  flex-direction: row-reverse;
}

.infos2{
  font-size: 1.2rem;
  text-align: right; 
}

.unidadesDireita h2{
  margin-bottom: 10px;
  margin-top: 5px;
}

.unidadesDireita img{
  width: 350px;
  height: auto;
}

/* FOOTER */
.footer {
  background-color: #043454;
  color: white;
  padding: 20px;
  bottom: 0; 
  width: 100%;
  min-height: 200px;
  height: auto;
  display: flex;          
  justify-content: space-around;
  align-items: center; 
}

.logo-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-footer img{
  height: 100px; 
}

.rede-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.rede-item a{
  color: white;
  text-decoration: none;
}

@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  
  .contato, .redes {
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .rede-item {
    justify-content: center;
  }
    /* Header */
  .header {
    padding-left: 5%;
    padding-right: 5%;
  }
  .navbar {
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .logo {
    flex: 0 0 auto;
  }
  .logo img {
    position: static;
    height: 30px;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
  }
  .menu {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .menu li {
    text-align: center;
    font-size: 1rem;
  }
  .menu li a {
    font-size: 1rem;
  }
}