* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: absolute;
  
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 10px 20px;
}

.navbar li img {
  height: 35px;
  padding-left: 20px;
  padding-right: 50px;
  
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: #f2a41f;
}

.navbar a.active {
  color: #f2a41f;
  border-bottom: 2px solid #f2a41f;
  padding-bottom: 2px;
}

html, body {
  width: 100%;
  height: 100%;
}

.carrossel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}
.legenda {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 1rem 2rem;
  background-color: transparent;
  color: black;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 1s ease;
}

.legenda.ativo {
  opacity: 1;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.ativo {
  opacity: 1;
}
