* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER */
.header {
  background: #043454;
  padding: 15px 40px;
  z-index: 10;
  position: absolute;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

/* Logo */
.logo img {
  height: 40px;
  position: absolute;
  left: 0;
  top: 8px;
  
}

/* Menu */
.menu {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}
.menu li a:hover {
  color: #f2a41f;
}

/* Link ativo */
#ativo {
  color: #f2a41f;
  text-decoration: underline;
}
 
/* final header */

.containerSobreNos{
    text-align: center;
    background-color:rgb(0, 0, 0);
    color: aliceblue;
    font-size: larger;
    padding: 20px;
    font-family: FontePrincipal;
    position: relative; 
    text-align: center;
}

.texto-sobreposto {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 1.5rem; 
    background-color: rgba(0, 0, 0, 0.5);/*Background semi-transparente */
     
    padding: 10px 20px; 
    border-radius: 10px;
}

.imgDoSobre{
    width: 100%;
      height: auto;
      display: block;
    
}

.fundo-imagem {
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 20px; /* espaço interno para o conteúdo não colar nas bordas */
    color: white;
    text-align: center;
    height: 100vh;
}
  
.fundo-imagem .conteudo {
    background-color: rgba(0, 0, 0, 0.5); /* fundo semi-transparente atrás do texto */
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
  }

  .imgTextoSobreNos{
    display: block;
    margin: 20px auto; 
    max-width: 50%;
    height: auto;
    
    
}